<div *ngFor="let pacientes of pacientes" class="card">
    <div id="information">
        <h3>Nombre: {{pacientes.nombre}}</h3>
        <p>Edad: {{pacientes.edad}} años</p>
        <p>Peso: {{pacientes.peso}} kg</p>
        <p>Estatura: {{pacientes.estatura}} m</p>
        <p>Número teléfonico: {{pacientes.telefono}}</p>
    </div>
    <div id="buttons">
        <button id="Editar" (click)="updatePaciente(pacientes)">Editar</button>
        <button id="Eliminar" (click)="deletePaciente(pacientes)">Eliminar</button>
    </div>
</div>
