<form (ngSubmit)="onSubmit()" #doctorform="ngForm">
  <h3>Formulario para doctores</h3>
  
  <app-field
    label="Nombres"
    placeholder="Ingrese sus nombres"
    type="text"
    name="nombre"
    [(ngModel)]="doctorTemp.nombres"
    required
  ></app-field>
  
  <app-field
    label="Apellidos"
    placeholder="Ingrese sus apellidos"
    type="text"
    name="apellidos"
    [(ngModel)]="doctorTemp.apellidos"
    required
  ></app-field>

  <app-field
    label="Cédula"
    placeholder="Ingrese su cédula"
    type="number"
    name="cedula"
    [(ngModel)]="doctorTemp.cedula"
    required
  ></app-field>
  
  <div class="select">
    <label for="especialidad">Especialidad</label>
    <select name="especialidad" [(ngModel)]="doctorTemp.especialidad" required>
      <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</option>
    </select>
  </div>

  <div class="select">
    <label for="horario">Horario</label>
    <select name="horario" [(ngModel)]="doctorTemp.horario" required>
      <option *ngFor="let horario of horarios" [value]="horario">{{ horario }}</option>
    </select>
  </div>

  <app-field
    label="Teléfono"
    placeholder="Ingrese su teléfono"
    type="tel"
    name="telefono"
    [(ngModel)]="doctorTemp.telefono"
    required
  ></app-field>

  <app-field
    label="Correo"
    placeholder="Ingrese su correo"
    type="email"
    name="correo"
    [(ngModel)]="doctorTemp.correo"
    required
  ></app-field>
  
  <app-button-save></app-button-save>
</form>
