#section{
    width: 100%;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

app-cards-doctores{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
